/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-banner-background-color: black;
  --ifm-banner-text-color: white;
  --ifm-footer-background-color: black;
  --ifm-footer-title-color: white;
  --ifm-footer-text-color: darkgrey;
  --ifm-color-primary: #16a34a;
  --ifm-color-primary-dark: #12813b;
  --ifm-color-primary-darker: #117a37;
  --ifm-color-primary-darkest: #0e632d;
  --ifm-color-primary-light: #1bb758;
  --ifm-color-primary-lighter: #21c564;
  --ifm-color-primary-lightest: #3bd77d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-banner-background-color: black;
  --ifm-banner-text-color: white;
  --ifm-footer-background-color: black;
  --ifm-footer-title-color: white;
  --ifm-footer-text-color: darkgrey;
  --ifm-color-primary: #22c55e;
  --ifm-color-primary-dark: #1fb155;
  --ifm-color-primary-darker: #1ca34f;
  --ifm-color-primary-darkest: #168a42;
  --ifm-color-primary-light: #2bd26b;
  --ifm-color-primary-lighter: #3add79;
  --ifm-color-primary-lightest: #5bea94;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero--banner {
  background: var(--ifm-banner-background-color);
  color: var(--ifm-banner-text-color);
}

.footer__link-item{
  color: var(--ifm-footer-text-color);
}

.footer__link-item:hover{
  color: var(--ifm-color-primary);
}

.footer__link-item:active{
  color: var(--ifm-color-primary-darker);
}

.footer__title {
  color: var(--ifm-footer-title-color);
}

.footer__copyright {
  color: var(--ifm-footer-text-color);
}
